@import "tailwindcss";
@import "tw-animate-css";

@layer base {
    @import "@xyflow/react/dist/style.css";
}

:root {
    --warning: oklch(0.84 0.16 84);
    --warning-foreground: oklch(0.28 0.07 46);

    --valid: oklch(0.84 0.16 142);
    --valid-foreground: oklch(0.28 0.07 142);
}

.dark {
    --warning: oklch(0.41 0.11 46);
    --warning-foreground: oklch(0.99 0.02 95);

    --valid: oklch(0.41 0.11 142);
    --valid-foreground: oklch(0.99 0.02 142);
}

@theme inline {
    --color-warning: var(--warning);
    --color-warning-foreground: var(--warning-foreground);

    --color-valid: var(--valid);
    --color-valid-foreground: var(--valid-foreground);
}